{% extends 'layout.html' %}

{% block content %}
 <h1>File CMS</h1>


<ul>
    {% for file_name in files%}
    <li>
        <form method='post' action='{{ url_for("delete_file", file_name=file_name) }}' class='file_index'>
            <a href='{{ url_for("display_file_contents", file_name=file_name) }}'><strong>{{file_name}}</strong></a> 
            <a href='{{ url_for("edit_file", file_name=file_name) }}'>Edit</a>
            <button type='submit' class='delete_button'>Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>
<a href='{{ url_for("display_new_file_page") }}'>New Document</a>

{% if session['username'] %}
<form method='post' action="{{ url_for('signout')}}">
    <p id='signed_in_text'>Signed in as {{session['username']}}
        <button type='submit' class='delete_button'>Sign Out</button>
    </p>
</form>

{% else %}
    <form action="{{ url_for('display_signin')}}">
        <button type='submit' class='submit_button'>Sign In</button>
    </form>
{% endif %}
{% endblock %}