{% extends "layout.html" %}

{% block content %}
<form method="post" action='{{ url_for("signin") }}'>
    <div>
        <label for='username'>Username:
            <input name='username' id='username' value='{{ username }}'>
        </label>
    </div>
    <br>
    <div>
        <label for='password'>Password:
            <input name='password' id='password' type='password'>
        </label>
    </div>
    <br>
    <button type='submit' class='submit_button'>Sign In</button>
</form>
{% endblock %}